@media (max-width: 768px) {
  /* Home page */
  .profile-img img {
    max-width: 200px;
    max-height: 200px;
  }
  .btn-outline-secondary {
    margin-bottom: 7px;
  }
  /* Blog And Talk Page */
  .text-end img {
    max-width: 80px;
  }
}
@media (max-width: 992px) {
  /* Home Page */
  #nav-space {
    padding: 0;
  }

  .navbar-brand {
    padding-left: 35%;
    font-size: 20px;
  }
  .profile-text,
  .personal-text,
  .see-all {
    font-size: 16px;
  }
  .interest-title,
  .education h2,
  .caro-text,
  .title-text {
    font-size: 20px;
  }
  .interest ul li,
  .education span {
    font-size: 15px;
  }
  .section-topic {
    font-size: 36px;
  }
  .blog-title,
  .task-title {
    font-size: 19px;
  }
  .btn-outline-secondary,
  .lecensed,
  .footer-text {
    font-size: 14px;
  }
  /* About Page */
  .text-about,
  .welcome {
    font-size: 34px;
  }
  .text-container {
    font-size: 16px;
  }
  .text-container h2 {
    font-size: 20px;
  }

  .welcome-text {
    font-size: 18px;
  }
  /* Blog page */
  .blog-text h1 {
    font-size: 40px;
  }
  /* Talk Page */
  /* Gallery */
  .card-title {
    font-size: 16px;
  }
  .card-text {
    font-size: 14px;
  }
  /* Resume */
  .exp {
    font-size: 36px;
  }
  .card-resume-title,
  .card-link {
    font-size: 14px;
  }
  .t {
    font-size: 12px;
  }
  .licensed {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand {
    padding-left: 30%;
  }
  .img-container img {
    width: 200px;
  }
}
