/* Navigation Bar */
* {
  padding: 0;
  margin: 0;
  font-family: "karla", serif;
}
body {
  background-color: #f0f7fa;
  font-size: 16px;
  font-family: sans-serif;
}
#nav {
  font-family: sans-serif;
  background-color: #f0f7fa;
  color: #088b60;
  text-transform: uppercase;
  /* padding-right: 9em; */
  min-height: 100px;
}
#nav-list li a {
  color: #252c31;
}
#nav-list li a:hover {
  color: #088b60;
}
.navbar-brand {
  color: black;
  font-size: 26px;
}
.navbar-brand:hover {
  color: #088b60;
}
.line {
  padding: 0.6em;
}
.line::after {
  content: "";
  background: #0c7a15;
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.3s;
}
.line:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Profile */
#m {
  /* background: yellow; */
  margin-top: 3em;
  margin-bottom: 5em;
  padding-top: 2em;
}
.rev {
  flex-direction: row-reverse;
}
/* Image */
.profile-img img {
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.profile-body {
  text-align: center;
  margin-right: 85px;
}
.profile-title {
  font-size: 26px;
  margin: 20px 0px 10px 0px;
}
.profile-text {
  font-size: 18px;
  margin-bottom: 10px;
  color: #727777;
}
.profile-link a {
  font-size: 21px;
  color: #0c7a15;
  text-decoration: none;
}
.personal {
  padding-left: 85px;
  /* background: white; */
}
.my {
  /* background: blue; */
  padding-left: 85px;
}
.personal-text {
  font-size: 21px;
}
.personal-text a {
  color: #088b60;
  text-decoration: none;
}
.education h2 {
  font-size: 26px;
}
.education p {
  font-size: 19px;
}
.education div {
  padding-left: 30px;
}
.education div span {
  font-size: 16px;
  color: #727777;
}
.interest-title {
  font-size: 26px;
}
.interest ul li {
  font-size: 19px;
}

/* Carousel */

#my-slide {
  width: 100%;
  height: 325px;
  margin-bottom: 3em;
}
.caro-text {
  font-size: 26px;
}
.carousel-item img {
  height: 325px;
  width: 100%;
  /* object-fit: cover; */
}
.carousel-caption a {
  display: inline-block;
  font-family: lora;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  padding: 0.6em 2.1em;
  border-radius: 0;
  border: 1px solid transparent;
}
.carousel-item .btn {
  color: rgb(4, 79, 58);
}
#text-center {
  text-align: center;
  margin: 0 auto 0 auto;
}
#text-left {
  text-align: left;
}
#text-right {
  text-align: right;
  margin: 0 0 0 auto;
}

/* Section */
.section-title {
  padding: 0px 0 20px 0;
  margin: 1em 0;
  text-align: center;
}
.section-title h1 {
  font-size: 48px;
}
/* Blog And Tasks */

.blog-title {
  padding-left: 4em;
  font-size: 21px;
  text-transform: uppercase;
}
.task-title {
  padding-left: 4em;
  font-size: 21px;
  text-transform: uppercase;
}
.blog a {
  text-decoration: none;
  color: black;
}
.blog h4 {
  font-size: 26px;
}
.blog h4 a:hover {
  color: #088b60;
}
.blog span a {
  font-size: 14px;
  color: #727777;
}
.blog span a:hover {
  text-decoration: underline;
  color: #06805e;
}
#logo {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.time {
  font-size: 14px;
  color: #727777;
}
.link-categories {
  font-size: 14px;
}
.task a {
  color: black;
  text-decoration: none;
}
.task h4 {
  font-size: 25px;
}
.task h4 a:hover {
  text-decoration: none;
  color: #088b60;
}
.task span a {
  font-size: 14px;
  color: #727777;
}
.task span a:hover {
  color: #06805e;
  text-decoration: underline;
}
.place {
  font-size: 16px;
  color: #727777;
}
.btn-adds {
  margin-top: 1em;
}
.btn-adds a {
  color: #06805e;
  font-weight: lora;
  font-style: italic;
  margin-right: 8px;
}
.btn-outline-secondary {
  border-radius: 0;
  border: 1px solid transparent;
  border-color: #06805e;
}
.btn-outline-secondary:hover {
  background: #06805e;
}
.btn-adds a {
  display: inline-block;
  text-align: center;
}
.see-all {
  font-size: 21px;
  margin: 3em 0;
}
.see-all a {
  color: #088b60;
}
.see-all a:hover {
  color: #175352;
  text-decoration: underline;
}

/* Footer */
.licensed {
  font-size: 16px;
  text-align: center;
  margin-top: 6em;
}
.licensed a {
  color: #088b60;
  text-decoration: none;
}
.licensed a:hover {
  text-decoration: underline;
  color: #175352;
}
.footer-text {
  text-align: center;
}
.footer-text a {
  color: #06805e;
  text-decoration: none;
}
.footer-text a:hover {
  color: #175352;
  text-decoration: underline;
}

/* About  Page*/
.parrallex {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.parrallex {
  text-align: center;
  padding-top: 130px;
  height: 300px;
  background-image: url(/assets/images/flower.jpg);
  min-height: 100%;
}
.about-container {
  color: white;
  font-size: 47px;
}
.text-container {
  font-size: 21px;
  padding: 0 3em;
}
.text-container h2 {
  font-size: 26px;
  text-transform: uppercase;
}
.img-container {
  text-align: center;
}
.img-container img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.welcome {
  font-size: 48px;
}
.welcome-text {
  font-size: 27;
}
.form-group {
  margin: 1em 0;
}

/* Blog Page */
.blog-text {
  text-align: center;
  padding: 50px 0;
  text-transform: capitalize;
}
.page-link {
  color: #004346;
  background-color: #f0f7fa;
  border: 1px solid #004346;
  padding: 0.5rem 1rem;
}
.page-link:hover {
  background: #004346;
  color: white;
}

/* Gallery */
.card-img-top {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.card-img-top {
  opacity: 1;
  display: block;
  /* width: 100%; */
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.hoverText {
  position: absolute;
  top: 0;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  width: 100%;
  text-align: center;
}
.card:hover .hoverText {
  opacity: 0.6;
}
.caption {
  background-color: white;
  color: white;
  font-size: 30px;
  padding-top: 30%;
  border-radius: 6px;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

/* Resume */
.wrapper {
  width: auto;
  height: auto;
}

.circle {
  width: 25px;
  height: 25px;
  background: #06805e;
  border-radius: 50px;
  position: relative;
  margin: 20px auto 0 auto;
}
.circle-empty {
  width: 25px;
  height: 25px;
  border: 1px solid #06805e;
  border-radius: 50px;
  position: relative;
  margin: 20px auto 0 auto;
}

.vertical-line {
  width: 1px;
  height: 100px;
  background: #06805e;
  margin: 20px auto 0 auto;
}
.card {
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: translate(0, 0);
}
.card-link {
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}
.card-link:hover {
  color: black;
  text-decoration: underline;
}
.parrallex2 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.parrallex2 {
  text-align: center;
  padding-top: 130px;
  height: 200px;
  background-image: url(/assets/images/flower.jpg);
  min-height: 100%;
}
